<div class="p-6">
    <div class="p-6">
      <div class="flex justify-center mb-8">
        <div class="max-w-lg w-full bg-white shadow-md rounded-lg p-6">
          <img
            src="https://www.almacenescristi.com/public/assets/img/placeholder.jpg"
            alt="Book Cover"
            class="object-cover rounded-lg mb-4 transition-all duration-300 ease-in-out"
            loading="lazy"
          />
          <h1 class="text-3xl font-bold mb-2">{{ book.title }}</h1>
          <h3 class="text-xl text-gray-600 mb-4">por {{ book.author }}</h3>
          <p class="text-gray-700 mb-4">{{ book.description }}</p>
        </div>
      </div>
  
      <h2 class="text-2xl font-semibold mb-4">Reseñas</h2>
  
      <div class="review-scroll-container mb-4" (scroll)="onScroll($event)">
        <div *ngFor="let review of reviews">
          <app-review-card
            [review]="review"
            [canEdit]="canEditReview(review.userId)"
            (saveReviewEvent)="saveReview($event)"
            (deleteReviewEvent)="deleteReview($event)"
          ></app-review-card>
        </div>

        <div *ngIf="isLoadingReviews" class="text-center mt-4">
          <span class="text-gray-500">Cargando más reseñas...</span>
        </div>
      </div>
  
      <app-review-add  *ngIf="!userHasReviewed" [bookId]="getBookId()" (saveReviewEvent)="addReview($event)"></app-review-add>
    </div>
  </div>
  